<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vishanthi Cloud - Create VPC </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/vishanthiCloudLogo.png') }}" width="300" height="80">
    <h2 style="text-align: center;"> Vishanti Cloud : VPC Creation</h2>

    <!-- Check if a flash message exists -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <script>
          alert("{{ messages[0] }}");
        </script>
      {% endif %}
    {% endwith %}

    <form action="/submit-vpc" method="POST">
        <label for="customerName">Customer Name:</label>
        <input type="text" id="customerName" name="customerName" required><br><br>

        <label for="vpcName">VPC Name:</label>
        <input type="text" id="vpcName" name="vpcName" required><br><br>

        <label for="cpu">CPU (vCPU):</label>
        <input type="number" id="cpu" name="cpu" min="1" placeholder="Number of vCPUs"><br>

        <label for="ram">RAM (in GB):</label>
        <input type="number" id="ram" name="ram" min="1" placeholder="Amount of RAM in GB"><br>

        <label for="storageInGb">Storage (in GB):</label>
        <input type="number" id="storageInGb" name="storageInGb" placeholder="Amount of Storage in GB"><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
