apiVersion: v1
kind: Namespace
metadata:
  name: {{ vpc_name }}
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: {{ customer_name }}
  namespace: {{ vpc_name }}  # Replace with your namespace
spec:
  hard:
    requests.cpu: {{ cpu }}        # Total CPU request limit for the namespace
    requests.memory: {{ ram }}   # Total memory request limit for the namespace
    limits.cpu: {{ cpu }}         # Maximum CPU limit for the namespace
    limits.memory: {{ ram }}    # Maximum memory limit for the namespace
    persistentvolumeclaims: {{ pvClaims }}  # Max number of PVCs
    requests.storage: {{ storage }}  # Total storage request limit for PVCs
